*{
    margin:0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: #222222;
}
.wrapper{
    width: 1200px;
    height: 100vh;
    border-top: 6px solid #76C38F;
    margin:0 auto;

}

#entrance{
    background-color:rgba(41,0,0,0.7); 
    background-image: url('../images/candle.jpg');
    background-size: cover;
    background-blend-mode: color;

}
 
#po{
    background: #660000; 
    height:1000px;
}
#entrance>p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding-top:2.7%;
    margin-left:9%;
    font-size:2em;
    display: inline-block;
    vertical-align: baseline;
    
}
#entrance nav{
    display: inline-block;
    margin-left:10.5%;
    margin-right:8%;
    width:44vw; 
}
#entrance ul{
    display: inline;
}
#entrance nav ul li{
    list-style-type: none;
    display: inline;
    padding-left:3.5%;
}
#entrance ul li a{
    text-decoration: none;
    color: white;
    font-size:1.3vw; 
    font-family: 'Courier New', Courier, monospace;
    padding: 1% 1.5%;
}
#entrance ul li a:hover{
    background: #76C38F;
    border-radius:0.6em;
}
#content{
    margin:4% 8% 0 8%;
    padding-bottom: 7%;
}
#entrance #content>a{
    color: #76C38F;
    display: inline;
    font-size: 2.5em;
    margin-top:5%;
    text-decoration: none;
}
#text{
    width:30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4%;
}
#text h1{
    font-size: 2.7em;
    letter-spacing: 2px;
    font-weight: normal;
    color: white;
    margin-bottom: 5%;
}
#text p{
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    color: #979797;
    text-align: justify;
    margin-bottom: 5.9%;
}
#text button{
    background-color: #76C38F;
    padding: 2% 3%;
    border:none;
    border-radius: 13px;
}
#text button a{
    color:white;
    font-size:1.2em;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
#content img{
    border: 23px solid #290000;
    border-radius: 50%;
    margin:0 4% 0 12%;
    width:380px;
    height:380px;
    vertical-align: middle;
}
.SlideShow{
    display:none;
}