*{
    margin:0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    border-top: 10px solid #76C38F;
    overflow-x: hidden;
}
#entrance{
    background: #290000;
    width:100vw;
    height:100vh;
}
#po{
    width:100vw;
    height:1000px;
    background: crimson;
}
#entrance>p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding-top:2.7%;
    margin-left:5%;
    letter-spacing: 1px;
    font-size:3em;
    display: inline-block;
    vertical-align: baseline;
    
}
#entrance nav{
    display: inline-block;
    margin-left:18.7%;
    margin-right:5%;
    width:51vw; 
}
#entrance ul{
    display: inline;
}
#entrance nav ul li{
    list-style-type: none;
    display: inline;
    padding-left:3.5%;
}
#entrance ul li a{
    text-decoration: none;
    color: white;
    font-size:1.55vw; 
    font-family: 'Courier New', Courier, monospace;
    padding: 1% 1.5%;
}
a:hover{
    background: #76C38F;
    border-radius:0.6em;
}
#content{
    width:90%;
    margin-left:5%;
    margin-top: 4%;
    height: 550px;
}
#content>p{
    color: #76C38F;
    display: inline;
    font-size: 2.7em;
    margin-top:5%;
}
#text{
    width:30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8%;
}
#text h1{
    font-size: 3.2em;
    font-weight: normal;
    color: white;
    margin-bottom: 5%;
}
#text p{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: #979797;
    text-align: justify;
    margin-bottom: 5.5%;
}
#text button{
    background-color: #76C38F;
    color:white;
    font-size:1em;
    font-family: 'Courier New', Courier, monospace;
    padding: 2% 3%;
    border:none;
    border-radius: 13px;
}
#content img{
    border: 20px solid #6b6b6b;
    border-radius: 50%;
    margin:0 10%;
    width:470px;
    height:470px;
    vertical-align: middle;
}
.SlideShow{
    display:none;
}