
article {
    padding: 10%;
}


article  nav ul{
    display: inline;
    overflow-x : visible;
}

article nav ul li {
    list-style-type: none;
    
    
}

article nav ul li div{
    width: 300px;
    height: 200px;
    margin-left:10px;
    box-shadow: inset 0px 0px 20px 0px #0D153C;
    margin-bottom: 10px;
   }

article nav ul li div img{
    width: 300px;
    height: 200px;
    position:relative;
    z-index: -1;
    
    
}

.images{
    display:inline;
    float:left;
    
}

.images:hover{
    
    margin-top: -5px;
    /*margin-left: -5px;*/
    
    width:320px;
    height:230px;
}




.images:hover img{
    width:320px;
    height:230px;
}




