#blur{
    width:100%;
    height:642px;
    background-color: rgba(13, 21, 60,0.2) ;
    background-image: url('../images/collage.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    filter:blur(10px);
    position: fixed;
    top:0;
    left:0;
    z-index: -2;
}
#entrance{
    background-color: rgba(13, 21, 60,0.7) ;
    background-image: url('../images/collage.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 650px;
}

#entrance h1{
    font-size: 4em;
    color:white;
    font-weight: 500;
    display: flex;
    margin:17% 19% 0 19%;
}
#entrance h3{
    font-size: 1.3em;
    color:white;
    font-weight: 300;
    display: flex;
    margin:0.5% 15% 0 30%;
    padding-bottom: 15%;
}

main{
    height: 1000px;
    background-color:white;
    
}

body article {
    
    z-index: -1;
    margin-left: 9%;
    margin-right: 9%;
}

article {
    padding: 5% 0% 30% 0%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 2000px, 0px 2000px);
}

article h1{
    color: #E2CBA0;
    font-family: "Calibri";
    font-style: italic;
    font-size: 3em;
    margin-bottom: 5%;
    background-color: #0D153C;
    padding-top: 15px;
    padding-bottom: 15px;
}


article  nav ul{
    display: inline;
    overflow-x : visible;
}

article nav ul li {
    list-style-type: none;
    
    
}

article nav ul li div{
    width: 200px;
    height: 200px;
    margin-left:10px;
    /*box-shadow: inset 0px 0px 20px 0px #0D153C;*/
    margin-bottom: 10px;
   }

article nav ul li div img{
    width: 200px;
    height: 200px;
    position:relative;
    z-index: 1;
    
    
}

#slider {
    width: 6000px;
}

#last, #last:hover, article nav ul li div#last{
    display: none;
}

.images{
    display:inline;
    float:left;
    
    
}

.images:hover{
    
    margin-top: -40px;
    cursor: pointer;
    
    width:300px;
    height:280px;
}




.images:hover img{
    width:300px;
    height:280px;
}


#leftArrow{
    color: #E2CBA0;
    font-size: 4em;
    position:absolute;
    top:745px;
    left: 25%;
    font-weight: bolder;
    z-index: 10;
    
}

#rightArrow{
    color: #E2CBA0;
    font-size: 4em;
    font-weight: bolder;
    position:absolute;
    top:745px;
    right: 25%;
    
    z-index: 2;
    
}

#leftArrow:hover , #rightArrow:hover {
    background-color: rgba(226,203,160,0.8);
    color: #0D153C;
    cursor: pointer;
    user-select: none;
}

.images p{
    color: #0D153C;
    text-align: center;
    font-size: 3em;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    
    border-bottom: 2px solid #E2CBA0;
}

.hide {
    opacity: 0px;
}

.story{
    float:left;
    display: inline;
}

#shortInfo{
    width: 36%;
}

#longInfo {
    width: 63%;
    margin-left: 1%;
    
}
#shortInfo img{
    width: 350px;
    height: 500px;
}
#shortInfo h2,h3,h4,h5,h6 {
    text-align: center;
}

#longInfo h2{
    margin-bottom: 15px;
    font-size: 2em;
}

#longInfo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #E2CBA0;
    border-radius: 50%;
    display: inline-block;
    
  }

  .dot:hover{
    cursor: pointer;
    background-color: #0D153C;
  }

  .dot:visited{
    background-color: #0D153C;
  }
  

.blueDot {
    background-color: #0D153C;
}