body
{
    font-family: Arial, Helvetica, sans-serif;
}
#blur{
    width:100%;
    height:565px;
    background-color: rgba(13, 21, 60,0.7) ;
    background-image: url('../images/landscape.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    filter:blur(10px);
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
#entrance1{
    background-color:  rgba(13, 21, 60,0.7) ;
    background-image: url('../images/landscape.jpg');
    background-size:cover;
    background-blend-mode: darken;
    
}
#entrance1 h1{
    font-size: 53px;
    color: white;
    font-weight: 500;
    display: flex;
    margin:17% 19% 0 19%;
    text-align: center;
}
#entrance1 h3{
    font-size: 1.3em;
    color:white;
    font-weight: 300;
    display: flex;
    margin:0.5% 15% 0 20%;
    padding-bottom: 15%;
    text-align: center;
}


#col img
{
    width: 250px;
    height: 220px;
    z-index: -1;
}

#col
{
    margin-bottom: 70px;
    
}


#service1, #service2,#service3,#service4,#service5,#service6
{
    display: none;
    height: 300px;
}
#service1
{
    display: flex;
}

#list1
{
    float:left;     
    padding: 20px 60px 20px 10px;    
    border: none;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    border-color:#E2CBA0 ;

}

#list1 nav ul li
{
    list-style-type: none;
    padding: 0.1em;
    
}
#services #list1 a{
    color:black;
    font-size: 35px;
    font-weight: 300;
    font-family: sans-serif;
    margin:1% 0;
}

#services
{
    margin: 40px 40px 0px 25px;
    
}

.service
{
    margin-left:25px ;
    border: none;
    border-bottom: 1px solid #303030;
 border-color:#E2CBA0 ;

}


.text p
{
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:20px 0 20px 0 ;

}
#services>p
{
    font-size: 60px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #0D153C;

}

#list1 #s1:hover,#list1 #s2:hover ,#list1 #s3:hover ,#list1 #s4:hover ,#list1 #s5:hover,#list1 #s6:hover   
{
    color: #E2CBA0;

}


#hide1, #hide2, #hide3, #hide4
{
    display: none;
}

 .info 
{display: block;
    width:550px;
    border: none;
    border-top: 1px solid #303030;
    border-color:#E2CBA0 ;
    margin: 50px 50px 0px 0px;
    border-right:150px ;
}


.information
{
    display: inline-flex;
    
    
}
footer
{
    margin-top: 50px;
}

h3
{
    font-size: 30px;
    color: #121416;
    font-weight: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.info img
{width: 550px;
height: 500px;  
padding-top: 30px;

}

.info p
{
    
    color: #121416;
    font-family: Helvetica, sans-serif;

}
.info .emri
{
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 0 5px 0;
}
.info .emri1
{
    color: #121416;
    font-size: 18px;
    
}

figcaption {
    
    padding: 10px 10px 30px 0;
}
.info2 div, table
{
    display: inline;
}
.info2 img
{
    width: 15px;
    height: 15px;
    padding-right: 10px;
}
.info .text
{
    text-align: justify;
font-size: 17x;
padding-bottom: 30px;
line-height: 25px;
}

figcaption>p
{font-size: 13.5px;
}
 
.info2{display: block;}

.info .t2
{
    color: #121416;
    padding-bottom: 20px;
    
    line-height:25px ;

}

.info>a
{font-weight: bold;
color: black;
}
.info2  a
{
    color: black;
}

.info address
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-bottom: 1px;
    color: #121416;
    line-height: 5px;
    text-decoration: underline;
}
table
{
    color: #0d1f30;
}
table .t1
{
    width: 45px;
    
}
table tr>td
{ 
    padding: 5px;
}
.info2>address
{
    padding-bottom: 30px;
}
#rugova, #ulpiana
{
    display: none;
}

#rugova, #ulpiana img
{
 width:600px;
margin: 60px 30px 30px 300px;
border: none;
border-top: 1px solid #303030;
border-color:#E2CBA0 ;
padding-top: 60px;
}

#rugova, #ulpiana .text
{
    text-align: justify;
font-size: 17x;
color: #121416;
line-height: 25px;
margin: 30px 300px 0px 300px;

} 
#rugova, #ulpiana .t1
{ margin-left: 300px;
    margin-right: 300px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}